.form
{
    height: 600px; 
    width:100%;
    background-image: url("background3.jpg");
    background-size: cover;
    border:2px solid black;
    box-shadow: 10px;
    text-align: center;
   
}
.submit
{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 10px;
}

.navbar
{
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 20px;
    margin-right: 10px;
    
}
.header
{
    height: 100px;
    width:100%;
    border:2px solid black;
    font-family: 'Times New Roman', Times, serif;
    background-color: cadetblue;

}

.main
{
height: 570px;
    width:100%;
    border:2px solid black;
    font-family: 'Times New Roman', Times, serif;
   
}

.footer
{
    height: 50px;
    width:100%;
    border:2px solid black;
    font-family: 'Times New Roman', Times, serif;
background-color: cadetblue;
text-align: center;
}
.para{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
   
    

}